[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = dirkvanduivenbooden@outlook.com
	name = Dirk van Duivenbooden
[core]
	excludesfile = /Users/dirkvduivenbooden/.gitignore_global
[commit]
	template = /Users/dirkvduivenbooden/.stCommitMsg
